{% extends "base.html" %}
{% from "_macros.html" import render_field %}
{% block title %}{{ 'Edit meeting' if action == 'edit' else 'New meeting' }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-7">
    <h1 class="h4 mb-3">{{ 'Edit meeting' if action == 'edit' else 'New meeting' }}</h1>
    <form method="post" class="card card-body shadow-sm">
      {{ form.hidden_tag() }}
      {{ render_field(form.board_id, help="Which body is this meeting for?") }}
      {{ render_field(form.title) }}
      {{ render_field(form.meeting_type) }}
      {{ render_field(form.scheduled_start) }}
      {{ render_field(form.scheduled_end) }}
      {{ render_field(form.location, help="Physical address or video conference URL") }}
      {{ form.submit(class="btn btn-primary") }}
      <a class="btn btn-link" href="{{ url_for('meetings.list_meetings') }}">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
